EC1-Project/Web References/Insurance/InsuranceWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsuranceUpToDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chassisnum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseplatenum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsuranceUpToDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsuranceUpToDateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsuranceUpToDateSoapIn">
    <wsdl:part name="parameters" element="tns:InsuranceUpToDate" />
  </wsdl:message>
  <wsdl:message name="InsuranceUpToDateSoapOut">
    <wsdl:part name="parameters" element="tns:InsuranceUpToDateResponse" />
  </wsdl:message>
  <wsdl:portType name="InsuranceWebServiceSoap">
    <wsdl:operation name="InsuranceUpToDate">
      <wsdl:input message="tns:InsuranceUpToDateSoapIn" />
      <wsdl:output message="tns:InsuranceUpToDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsuranceWebServiceSoap" type="tns:InsuranceWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsuranceUpToDate">
      <soap:operation soapAction="http://tempuri.org/InsuranceUpToDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsuranceWebServiceSoap12" type="tns:InsuranceWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsuranceUpToDate">
      <soap12:operation soapAction="http://tempuri.org/InsuranceUpToDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsuranceWebService">
    <wsdl:port name="InsuranceWebServiceSoap" binding="tns:InsuranceWebServiceSoap">
      <soap:address location="https://localhost:44318/InsuranceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="InsuranceWebServiceSoap12" binding="tns:InsuranceWebServiceSoap12">
      <soap12:address location="https://localhost:44318/InsuranceWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>